.content{
    font-size: 50px;
    color: white;
    width: 35vw;
    margin: 45px;
    
}
.contents{
    display: flex;
    margin: 94px 99px;
    justify-content: space-around;
}
.select{
    display: flex;
    margin: -90px 0px 0px 925px;
    padding: 35px 0;
}
.select select{
    
}